# next.js build output
.next
# dotenv environment variables file (build for Zeit Now)
.env
.env.build
# Dependency directories
node_modules/
packages/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Export
out/
# etc
.DS_Store
