@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  @keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .rainbow-bg {
    background: linear-gradient(90deg, #ff0000, #ff9900, #ffff00, #33cc33, #0066ff, #cc33ff, #ff3399);
    background-size: 400% 400%;
    animation: rainbow 2s linear infinite;
    background-clip: text;
    color: transparent
  }

  .rainbow-btn {
    background: linear-gradient(90deg, #ff0000, #ff9900, #ffff00, #33cc33, #0066ff, #cc33ff, #ff3399);
    background-size: 400% 400%;
    animation: rainbow 2s linear infinite;
    color: transparent
  }

  .rainbow-gradient-Railway:hover {
    fill: url('#rainbow-gradient-Railway')
  }

  .rainbow-gradient-Github:hover {
    fill: url('#rainbow-gradient-Github')
  }

  .rainbow-gradient-AWS:hover {
    fill: url('#rainbow-gradient-AWS')
  }

  .rainbow-gradient-Apollo:hover {
    fill: url('#rainbow-gradient-Apollo')
  }

  .rainbow-gradient-GraphQL:hover {
    fill: url('#rainbow-gradient-GraphQL')
  }

  .rainbow-gradient-NextJs:hover {
    fill: url('#rainbow-gradient-NextJs')
  }

  .rainbow-gradient-Strapi:hover {
    fill: url('#rainbow-gradient-Strapi')
  }

  .rainbow-gradient-TailwindCSS:hover {
    fill: url('#rainbow-gradient-TailwindCSS')
  }

  .rainbow-gradient-LinkedIn:hover {
    fill: url('#rainbow-gradient-LinkedIn')
  }

  .rainbow-gradient-Instagram:hover {
    fill: url('#rainbow-gradient-Instagram')
  }
}