/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 242, 242);
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Amatic SC', cursive;
}

.greeting {
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #999999;
}

.title {
  color: #333333;
  font-weight: normal;
  font-size: 4rem;
  margin: 1rem;
}

.titleBold {
  font-weight: bold;
}

.titleNonBold {
  font-weight: normal;
  margin: 0;
  font-size: 1.5rem;
  color: #666666;
}

.border {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  margin: 2rem 1rem;
}

.pic {
  border-radius: 100px;
  border: 5px solid #ffffff;
}

.Typewriter__wrapper,
.Typewriter__cursor,
.Typewriter {
  font-size: 1.4rem;
}

.socialContainer {
  display: flex;
  align-items: center;
}

.social {
  color: #999999;
  display: inline;
}

.icons {
  padding: 0.1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
